# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# documentation
docs/
!docs/*
src/assets/sounds/en/OTHER_COM1_118-325.m4a
src/assets/sounds/en/OTHER_COM1_118-325.mp3
src/assets/sounds/en/OTHER_COM1_120-825.m4a
src/assets/sounds/en/OTHER_COM1_120-825.mp3
src/assets/sounds/en/OTHER_COM1_124-350.m4a
src/assets/sounds/en/OTHER_COM1_124-350.mp3
src/assets/sounds/en/OTHER_COM1_126-175.m4a
src/assets/sounds/en/OTHER_COM1_126-175.mp3
src/assets/sounds/en/OTHER_COM1_127-725.m4a
src/assets/sounds/en/OTHER_COM1_127-725.mp3
src/assets/sounds/en/OTHER_COM1_128-525.m4a
src/assets/sounds/en/OTHER_COM1_128-525.mp3
src/assets/sounds/en/OTHER_COM1_130-875.m4a
src/assets/sounds/en/OTHER_COM1_130-875.mp3
src/assets/sounds/en/OTHER_COM1_132-950.m4a
src/assets/sounds/en/OTHER_COM1_132-950.mp3
src/assets/sounds/en/OTHER_COM1_134-175.m4a
src/assets/sounds/en/OTHER_COM1_134-175.mp3
src/assets/sounds/en/OTHER_COM1_135-225.m4a
src/assets/sounds/en/OTHER_COM1_135-225.mp3
src/assets/sounds/en/OTHER_COM2_118-275.m4a
src/assets/sounds/en/OTHER_COM2_118-275.mp3
src/assets/sounds/en/OTHER_COM2_120-775.m4a
src/assets/sounds/en/OTHER_COM2_120-775.mp3
src/assets/sounds/en/OTHER_COM2_124-500.m4a
src/assets/sounds/en/OTHER_COM2_124-500.mp3
src/assets/sounds/en/OTHER_COM2_126-025.m4a
src/assets/sounds/en/OTHER_COM2_126-025.mp3
src/assets/sounds/en/OTHER_COM2_127-675.m4a
src/assets/sounds/en/OTHER_COM2_127-675.mp3
src/assets/sounds/en/OTHER_COM2_128-475.m4a
src/assets/sounds/en/OTHER_COM2_128-475.mp3
src/assets/sounds/en/OTHER_COM2_130-725.m4a
src/assets/sounds/en/OTHER_COM2_130-725.mp3
src/assets/sounds/en/OTHER_COM2_132-800.m4a
src/assets/sounds/en/OTHER_COM2_132-800.mp3
src/assets/sounds/en/OTHER_COM2_134-025.m4a
src/assets/sounds/en/OTHER_COM2_134-025.mp3
src/assets/sounds/en/OTHER_COM2_135-175.m4a
src/assets/sounds/en/OTHER_COM2_135-175.mp3
src/assets/sounds/en/OTHER_NAV1_108-350.m4a
src/assets/sounds/en/OTHER_NAV1_108-350.mp3
src/assets/sounds/en/OTHER_NAV1_109-250.m4a
src/assets/sounds/en/OTHER_NAV1_109-250.mp3
src/assets/sounds/en/OTHER_NAV1_110-400.m4a
src/assets/sounds/en/OTHER_NAV1_110-400.mp3
src/assets/sounds/en/OTHER_NAV1_111-950.m4a
src/assets/sounds/en/OTHER_NAV1_111-950.mp3
src/assets/sounds/en/OTHER_NAV1_112-150.m4a
src/assets/sounds/en/OTHER_NAV1_112-150.mp3
src/assets/sounds/en/OTHER_NAV1_113-000.m4a
src/assets/sounds/en/OTHER_NAV1_113-000.mp3
src/assets/sounds/en/OTHER_NAV1_114-500.m4a
src/assets/sounds/en/OTHER_NAV1_114-500.mp3
src/assets/sounds/en/OTHER_NAV1_115-750.m4a
src/assets/sounds/en/OTHER_NAV1_115-750.mp3
src/assets/sounds/en/OTHER_NAV1_116-450.m4a
src/assets/sounds/en/OTHER_NAV1_116-450.mp3
src/assets/sounds/en/OTHER_NAV1_117-650.m4a
src/assets/sounds/en/OTHER_NAV1_117-650.mp3
src/assets/sounds/en/OTHER_NAV2_108-750.m4a
src/assets/sounds/en/OTHER_NAV2_108-750.mp3
src/assets/sounds/en/OTHER_NAV2_109-650.m4a
src/assets/sounds/en/OTHER_NAV2_109-650.mp3
src/assets/sounds/en/OTHER_NAV2_110-800.m4a
src/assets/sounds/en/OTHER_NAV2_110-800.mp3
src/assets/sounds/en/OTHER_NAV2_111-350.m4a
src/assets/sounds/en/OTHER_NAV2_111-350.mp3
src/assets/sounds/en/OTHER_NAV2_112-550.m4a
src/assets/sounds/en/OTHER_NAV2_112-550.mp3
src/assets/sounds/en/OTHER_NAV2_113-400.m4a
src/assets/sounds/en/OTHER_NAV2_113-400.mp3
src/assets/sounds/en/OTHER_NAV2_114-900.m4a
src/assets/sounds/en/OTHER_NAV2_114-900.mp3
src/assets/sounds/en/OTHER_NAV2_115-050.m4a
src/assets/sounds/en/OTHER_NAV2_115-050.mp3
src/assets/sounds/en/OTHER_NAV2_116-850.m4a
src/assets/sounds/en/OTHER_NAV2_116-850.mp3
src/assets/sounds/en/OTHER_NAV2_117-950.m4a
src/assets/sounds/en/OTHER_NAV2_117-950.mp3
src/assets/sounds/en/OWN_COM1_124-575.m4a
src/assets/sounds/en/OWN_COM1_124-575.mp3
src/assets/sounds/en/OWN_COM1_125-500.m4a
src/assets/sounds/en/OWN_COM1_125-500.mp3
src/assets/sounds/en/OWN_COM1_125-550.m4a
src/assets/sounds/en/OWN_COM1_125-550.mp3
src/assets/sounds/en/OWN_COM1_126-450.m4a
src/assets/sounds/en/OWN_COM1_126-450.mp3
src/assets/sounds/en/OWN_COM1_126-525.m4a
src/assets/sounds/en/OWN_COM1_126-525.mp3
src/assets/sounds/en/OWN_COM1_127-500.m4a
src/assets/sounds/en/OWN_COM1_127-500.mp3
src/assets/sounds/en/OWN_COM1_127-550.m4a
src/assets/sounds/en/OWN_COM1_127-550.mp3
src/assets/sounds/en/OWN_COM1_128-475.m4a
src/assets/sounds/en/OWN_COM1_128-475.mp3
src/assets/sounds/en/OWN_COM1_128-575.m4a
src/assets/sounds/en/OWN_COM1_128-575.mp3
src/assets/sounds/en/OWN_COM1_129-450.m4a
src/assets/sounds/en/OWN_COM1_129-450.mp3
src/assets/sounds/en/OWN_COM2_124-450.m4a
src/assets/sounds/en/OWN_COM2_124-450.mp3
src/assets/sounds/en/OWN_COM2_125-500.m4a
src/assets/sounds/en/OWN_COM2_125-500.mp3
src/assets/sounds/en/OWN_COM2_125-575.m4a
src/assets/sounds/en/OWN_COM2_125-575.mp3
src/assets/sounds/en/OWN_COM2_126-475.m4a
src/assets/sounds/en/OWN_COM2_126-475.mp3
src/assets/sounds/en/OWN_COM2_126-550.m4a
src/assets/sounds/en/OWN_COM2_126-550.mp3
src/assets/sounds/en/OWN_COM2_127-500.m4a
src/assets/sounds/en/OWN_COM2_127-500.mp3
src/assets/sounds/en/OWN_COM2_127-525.m4a
src/assets/sounds/en/OWN_COM2_127-525.mp3
src/assets/sounds/en/OWN_COM2_128-525.m4a
src/assets/sounds/en/OWN_COM2_128-525.mp3
src/assets/sounds/en/OWN_COM2_128-550.m4a
src/assets/sounds/en/OWN_COM2_128-550.mp3
src/assets/sounds/en/OWN_COM2_129-575.m4a
src/assets/sounds/en/OWN_COM2_129-575.mp3
src/assets/sounds/en/OWN_NAV1_110-650.m4a
src/assets/sounds/en/OWN_NAV1_110-650.mp3
src/assets/sounds/en/OWN_NAV1_111-500.m4a
src/assets/sounds/en/OWN_NAV1_111-500.mp3
src/assets/sounds/en/OWN_NAV1_111-600.m4a
src/assets/sounds/en/OWN_NAV1_111-600.mp3
src/assets/sounds/en/OWN_NAV1_112-450.m4a
src/assets/sounds/en/OWN_NAV1_112-450.mp3
src/assets/sounds/en/OWN_NAV1_112-550.m4a
src/assets/sounds/en/OWN_NAV1_112-550.mp3
src/assets/sounds/en/OWN_NAV1_113-500.m4a
src/assets/sounds/en/OWN_NAV1_113-500.mp3
src/assets/sounds/en/OWN_NAV1_113-600.m4a
src/assets/sounds/en/OWN_NAV1_113-600.mp3
src/assets/sounds/en/OWN_NAV1_114-450.m4a
src/assets/sounds/en/OWN_NAV1_114-450.mp3
src/assets/sounds/en/OWN_NAV1_114-650.m4a
src/assets/sounds/en/OWN_NAV1_114-650.mp3
src/assets/sounds/en/OWN_NAV1_115-400.m4a
src/assets/sounds/en/OWN_NAV1_115-400.mp3
src/assets/sounds/en/OWN_NAV2_110-500.m4a
src/assets/sounds/en/OWN_NAV2_110-500.mp3
src/assets/sounds/en/OWN_NAV2_111-400.m4a
src/assets/sounds/en/OWN_NAV2_111-400.mp3
src/assets/sounds/en/OWN_NAV2_111-650.m4a
src/assets/sounds/en/OWN_NAV2_111-650.mp3
src/assets/sounds/en/OWN_NAV2_112-450.m4a
src/assets/sounds/en/OWN_NAV2_112-450.mp3
src/assets/sounds/en/OWN_NAV2_112-600.m4a
src/assets/sounds/en/OWN_NAV2_112-600.mp3
src/assets/sounds/en/OWN_NAV2_113-500.m4a
src/assets/sounds/en/OWN_NAV2_113-500.mp3
src/assets/sounds/en/OWN_NAV2_113-550.m4a
src/assets/sounds/en/OWN_NAV2_113-550.mp3
src/assets/sounds/en/OWN_NAV2_114-450.m4a
src/assets/sounds/en/OWN_NAV2_114-450.mp3
src/assets/sounds/en/OWN_NAV2_114-600.m4a
src/assets/sounds/en/OWN_NAV2_114-600.mp3
src/assets/sounds/en/OWN_NAV2_115-650.m4a
src/assets/sounds/en/OWN_NAV2_115-650.mp3
